* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 243, 232);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5%;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.firstParagraph {
  font-size: 25px;
  color: #f35656;
  padding: 25px;
}

.secondParagraph {
  padding: 20px;
}

#courseImage {
  width: 20rem;
  border: 2px solid black;
  margin-bottom: 10px;
}

#entryForm {
  background-color: #f3ff85;
  border: 5px dashed blue;
  width: 50%;
  padding: 20px;
}
